@font-face {
  font-family: 'fingerbible';
  src: url('../font/fingerbible.eot?16800789');
  src: url('../font/fingerbible.eot?16800789#iefix') format('embedded-opentype'),
       url('../font/fingerbible.woff?16800789') format('woff'),
       url('../font/fingerbible.ttf?16800789') format('truetype'),
       url('../font/fingerbible.svg?16800789#fingerbible') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fingerbible';
    src: url('../font/fingerbible.svg?16800789#fingerbible') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fingerbible";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-finger:before { content: '\e803'; } /* '' */
.icon-t_1:before { content: '\e804'; } /* '' */
.icon-t_2:before { content: '\e805'; } /* '' */
.icon-t_3:before { content: '\e806'; } /* '' */
.icon-t_4:before { content: '\e807'; } /* '' */
.icon-t_5:before { content: '\e808'; } /* '' */
.icon-t_6:before { content: '\e809'; } /* '' */
.icon-t_7:before { content: '\e80a'; } /* '' */
.icon-t_8:before { content: '\e80b'; } /* '' */